@(title: Html)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <header class="topbar">
            <h1 class="fill">
                <a href="#">
                    Play 2.0 Form Demo &mdash; MySql
                </a>
            </h1>
   </header>
   <div class="pull-right" style="margin-top: 50px;">
				<ul class="nav">
            		<li><a href="/signout"> <input id="signout" type="button" class="btn primary" value="Signout"></a></li>
            	</ul>
    </div>
   <section id="main">
            @content
   </section>
</html>
